label {
  color: #D4D9DD;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
input {
  border-radius: 0!important;
}
.input-group {
  z-index: 0;
}
.input-group .btn {
  margin-top: 2.3rem;
}